/* .users_page {
} */
.users_paginator {
    margin: 10px;
}
.users_list {
    display: flex;
    flex-flow: wrap;
    align-items: stretch;
    
}
.userBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid rgb(179, 179, 179);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    min-width: 280px;
}
.userBlock h3 {
    margin: 0;
    text-align: center;
}
.usercard_info {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.usercard_info img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.usercard_text {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
.usercard_text div{
    margin: 10px;
}