form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    display: flex;
    border: red 1px solid;
    padding: 5px;
    color: red;
    background-color: white;
}