.main {
    height: 100%;
  }

.storyPost {
  max-width: 740px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 8px rgb(195, 195, 195) ;
  margin-bottom: 20px;
  padding: 20px;
}
.storyPost h2,
.storyPost p {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  line-height: 160%;
}
.storyPost .authorDate {
  margin-bottom: 0;
  text-align: right;
  color: gray;
}