.header {
    grid-area: he;
    height: 80px;
    background-color: #6d91f5;
    background-image: url(https://media.istockphoto.com/photos/geometric-polygon-background-abstract-gradient-silver-blue-background-picture-id1136868649);
    background-size: 100%;
}

.img {
    height: 80px;
    width: auto;
}