.header {
    grid-area: he;
    width: 100%;
}
.header a{
    color: black;
    font-weight: bold;
}
.header a:hover{
    color: rgb(73, 27, 27);
}

.container {
    max-width: 940px;
    
}
.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;min-height: 120px;
}

.header h1 {
    /* font-size: 40px; */
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;

}
header h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.loginBlock {
    display: flex;
    align-items: center;
    justify-content: end;
    max-width: 240px;
    margin: 20px;
}
.userLogged{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.userAvatar {
    margin-left: 10px;
}
.userAvatar img {
    /* height: 72px; */
    width: 72px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 15px black;
}

.userLoggedInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.userLoggedInfo p {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    margin-right: 8px;

}