.header {
    grid-area: he;
    width: 100%;
    background: #6d91f5 url(../../assets/images/Ace-SN-design.jpg) no-repeat;
    background-size: cover;
}

.container {
    max-width: 940px;
    min-height: 120px;
    /* margin: 0 auto; */
}
.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;

}
header h4 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.loginBlock {
    float: right;
    min-height: 60px;
    min-width: 100px;
    border: 1px solid black;
    border-radius: 5px;
}