.sidebar {
    grid-area: ns;
    background-color: #BDFFD1;
    padding: 20px 0;
    padding-right: 10px;
    width: 100%;
}


.sidebar ul {
list-style: none;
margin: 0;
padding: 0;
}
.sidebar li {
    margin-bottom: 20px;
    text-align: right;

}
a {
text-decoration: none;
color: rgb(0, 0, 0);
padding-right: 10px;
}

a.activeChoice {
color: rgb(90, 90, 90);
font-weight: bold;
padding-right: 0;

}

.friendsSidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.friendsList {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.friendPortrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.friendIcon {
    height: 40px;
    width: auto;
    border-radius: 100%;
}