
.app_wrapper {
    max-width: 100%;
    background: whitesmoke url(./assets/images/Ace-SN-design.jpg) no-repeat;
    background-size: 1920px;
    min-width: 680px;
    
}
.app_container{
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "he he"
        "ns ac";
    grid-template-rows: 120px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
}

.allcontent {
    grid-area: ac;
    background-color: #FFF5E0;
    width: 100%;
    padding: 20px;
}